
main.dashboard-layout {
  display: flex;
  width: 100dvw;
  height: 90vh;
  margin: 0;
}

/* menú lateral */
aside.menu {
  width: 20%;
  /* el resto de estilos para tu menú */
}

/* contenedor de vistas (antes .viewscreen) */
section.content-area {
  display: flex;
  flex-direction: column;
  padding: 1em;
}