.gestionar-usuarios {
    padding: 1rem;
}
.gestionar-usuarios ul {
    list-style: none;
    padding-left: 0;
}
.gestionar-usuarios li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}
.gestionar-usuarios form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}
